body {
    background-color: gray;
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

.container {
    background: #f6f6f6;
    max-width: 500px;
    margin: 10px auto;
    padding: 10px 20px;
}

h1 {
    color: #333333;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 10px;
}

input[type=number] {
    width: 141px;
}

.button {
    background-color: #333333;
    color: white;
    padding: 7px 15px;
    border: none;
    -webkit-appearance: none;
}
