body {
    background-color: lightgray;
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    background-color: white;
    padding: 20px 15px;
    margin-top: 15px;
}

h1 {
    margin-top: 0;
    padding-top: 0;
    color: #333333;
}

input[type="text"],
input[type="email"],
textarea {
    padding: 8px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: textfield;
    resize: none;
}

.button {
    background-color: #333333;
    color: white;
    border: none;
    padding: 5px 15px;
}
